<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
            
                
    </head>
    <Body ng-app>
                Enter first number: <input type="number" ng-model="text1" /> <br>
                Enter second number: <input type="number" ng-model="text2"/> <br>
                Result: <div ng-show="txtresult";>{{ text1 + text2 }} </div> <br>
            </div>
            <button ng-click="
                txtresult = true">Display Result</button>

    </Body>
</html>